<!DOCTYPE html>
<html lang="en">
<head>
    <!-- adding partials -->
    <%- include('../partials/head.ejs') %>
 
    <title><%=title %></title>
</head>
<body>
    <!-- //use of variable -->
    <% const name ='mario' %>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <p>my name is <%= name %></p>
            </div>
        </div>
    </div>
    <!-- check if length of blogs is zero -->
    <% if(blogs.length === 0){ %>
        <p>no blogs</p>
    <% } else { %>
        <% blogs.forEach(blog => { %>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3><%= blog.title %></h3>
                        <p><%= blog.msg %></p>
                    </div>
                </div>
            </div>
        <% }) %>
    <% } %>

</body>
</html>